body {
  font-size: 18px;
  background-color: #e9e7e7;
}

.gray { color: $gray; }
.empty { background-color: #f4f4f4; }
.container { max-width: 750px; }
.collection-wrapper { margin-top: 85px; }

.collection {

  border-width: 0px;

  &.expanded {
    padding: 10px 40px 20px;
    background-color: #d4d3d3;

    .sub-title { color: #909094; }

    > .expanded { background-color: #c2c0c0; }
  }

  .collection-item {
    padding-bottom: 0px;
    padding-left: 11px;
    padding-right: 11px;

    &.collection-item-expanded { margin-bottom: 20px; }

    .row {
      margin-bottom: 0px;

      &.row-header {
        padding-bottom: 10px;
        border-bottom: 1px solid $gray;

        .material-icons {
          padding-right: 20px;
          font-size: 28px;
        }
      }
    }

    &.empty {
      color: #bcbcbc;
      background-color: #f4f4f4;
    }

    &.typing {
      background-color: #FFFFFF;
    }

    .being-typed {
      color: rgba(188, 188, 188, 0.3);

      span {
        color: #311b92;
        font-weight: bold;
      }
    }

    .details {
      padding: 20px;
      border-bottom: 1px solid $gray;
    }

    .material-icons { color: $gray; }
  }

  .sub-details {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    color: $gray;
    background-color: #f4f4f4;

    li {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid $gray;

      &:last-child { border-bottom: 0px; }

      .unit { color: #037aff; }
    }
  }
}
