nav {

    @media #{$medium-and-up} {
      height: 74px;
      line-height: 55px;
    }

  .nav-wrapper {

    @media #{$medium-and-up} {
      padding-right: 30px;
      height: 74px;
    }

    ul {
      @media #{$medium-and-up} { padding-top: 10px; }

      li {
        a {
          padding-left: 20px;
          color: $rgba;
          font-size: 1.2rem;

          &:hover {
            background-color: transparent;
          }
        }

        &.active {
          background-color: transparent;
          a { color: #FFF; }
        }

        &.apps {
          i { display: inline-block; }
        }

        &:first-child {
          // a { padding-left: 20px; }
        }
      }
    }

    i.material-icons {
      position: relative;
      top: 9px;
      display: inline-block;
      line-height: 1;
      height: 28px;
    }

    form {

      margin-left: 50px;
      ::-webkit-input-placeholder { color: $rgba; }
      :-moz-placeholder { /* Firefox 18- */ color: $rgba; }
      ::-moz-placeholder {  /* Firefox 19+ */ color: $rgba; }
      :-ms-input-placeholder { color: $rgba; }

      .input-field { width: calc(200%); }

      #search {
        border-radius: 20px;
        background-color: $rgba;
      }

      label {
        i { color: $rgba; }
      }

      i.material-icons {
        display: inline-block;
        line-height: 58px;
      }
    }

  }
}

